.gong-alat-musik {
    position: absolute;
    z-index: 0;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    height: 150px;
    animation: gong-alat-musik-animation 0.5s ease-out forwards;
  }
  
  .maskot-alat-musik {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    animation: maskot-animation 0.5s ease-out forwards;
  }
  
  @keyframes gong-alat-musik-animation {
    0% {
      top: 50%;
      right: 25%;
      opacity: 0;
    }
    100% {
      top: 50%;
      right: 80px;
      opacity: 1;
    }
  }

  @media screen and (max-width: 1024px) {
    .maskot-alat-musik {
      width: 130px;
    }

    .gong-alat-musik {
      width: 100px;
    }
  
    @keyframes gong-alat-musik-animation {
      0% {
        top: 50%;
        right: 25%;
      }
      100% {
        top: 50%;
        right: 13px;
      }
    }
  }
  
  /* @media screen and (min-width: 600px) and (max-width: 1024px) {
  
  } */