.explore-button-container {
  position: relative;
  display: inline-block;
  transition: transform 0.5s ease;
  z-index: 98;
}

.button-explore-link {
  display: inline-block;
  font-family: "Finger Paint", cursive;
  font-size: 25px;
  line-height: 50px;
  padding: 30px 40px;
  border-radius: 20px;
  text-align: center;
  background-color: var(--accent-color-main);
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.5s ease;
}

.sayap-bawah-kiri,
.sayap-bawah-kanan {
  position: absolute;
  z-index: 0;
  transition: transform 600ms ease, bottom 600ms ease;
  transform: rotate(0);
}

.sayap-atas-kiri,
.sayap-atas-kanan {
  position: absolute;
  z-index: 0;
  transition: transform 450ms ease, bottom 450ms ease;
  transform: rotate(0);
}

/* Transisi sayap saat button dihover */
.explore-button-container:hover {
  transform: scale(1.025);
}

.button-explore-link:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.explore-button-container:hover .sayap-atas-kiri {
  animation: none;
  animation: moveSlightlyWingsLeftTopHover 0.5s ease-in-out forwards;
}

.explore-button-container:hover .sayap-bawah-kiri {
  animation: none;
  animation: moveSlightlyWingsLeftBottomHover 0.5s ease-in-out forwards;
  bottom: -10px;
}

.explore-button-container:hover .sayap-atas-kanan {
  animation: none;
  animation: moveSlightlyWingsRightTopHover 0.5s ease-in-out forwards;
}

.explore-button-container:hover .sayap-bawah-kanan {
  animation: none;
  animation: moveSlightlyWingsRightBottomHover 0.5s ease-in-out forwards;
  bottom: -10px;
}

.sayap-atas-kiri {
  top: -65px;
  left: -90px;
  rotate: 30deg;
  animation: moveSlightlyWingsLeft 3s ease-in-out infinite alternate;
}

.sayap-bawah-kiri {
  bottom: -5px;
  left: -90px;
  transform: rotate(30deg);
  animation: moveSlightlyWingsLeft 3s ease-in-out infinite alternate;
}

.sayap-atas-kanan {
  top: -65px;
  right: -90px;
  transform: scaleX(-1);
  rotate: -30deg;
  animation: moveSlightlyWingsRight 3s ease-in-out infinite alternate;
}

.sayap-bawah-kanan {
  bottom: -5px;
  right: -90px;
  transform: scaleX(-1) rotate(30deg);
  animation: moveSlightlyWingsRight 3s ease-in-out infinite alternate;
}

@keyframes moveSlightlyWingsLeft {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(15deg);
  }
}

@keyframes moveSlightlyWingsRight {
  0%, 100% {
    transform: scaleX(-1) rotate(0);
  }
  50% {
    transform: scaleX(-1) rotate(15deg);
  }
}

@keyframes moveSlightlyWingsLeftTopHover {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes moveSlightlyWingsRightTopHover {
  0% {
    transform: scaleX(-1) rotate(0);
  }
  100% {
    transform: scaleX(-1) rotate(-45deg);
  }
}

@keyframes moveSlightlyWingsLeftBottomHover {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-15deg);
  }
}

@keyframes moveSlightlyWingsRightBottomHover {
  0% {
    transform: scaleX(-1) rotate(0);
  }
  100% {
    transform: scaleX(-1) rotate(-15deg);
  }
}

@media screen and (max-width: 600px) {
  .button-explore-link {
    font-size: 10px;
    padding: 5px 25px;
    border-radius: 12px;
  }

  .sayap-bawah-kiri,
  .sayap-bawah-kanan {
    width: 70px;
  }

  .sayap-atas-kiri,
  .sayap-atas-kanan {
    width: 70px;
  }

  .sayap-atas-kiri {
    top: -30px;
    left: -35px;
  }
  
  .sayap-bawah-kiri {
    bottom: -5px;
    left: -40px;
  }
  
  .sayap-atas-kanan {
    top: -30px;
    right: -35px;
    transform: scaleX(-1);
  }
  
  .sayap-bawah-kanan {
    bottom: -5px;
    right: -40px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {

}