.laman-adat-kanan {
  min-height: 400px;
  min-width: 479px;
  width: 479px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  background: radial-gradient(circle, rgba(38, 78, 26, 1) , rgba(255, 255, 255, 0) 55%);
}

.laman-adat-kiri {
  min-height: 400px;
  min-width: 479px;
  width: 479px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  background: radial-gradient(circle, rgba(235, 167, 28, 1) , rgba(255, 255, 255, 0) 55%);
}

.card-adat-kiri {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid black;
  font-family: "Finger Paint";
  background-color: var(--accent-color-secondary-200);
  position: relative;
  z-index: 1;
}

.card-adat-kanan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid black;
  font-family: "Finger Paint";
  background-color: var(--color-primary-100);
  position: relative;
  z-index: 1;
}

.huruf-adat {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  font-size: 125px;
  color: #000;
}

.nama-adat {
  font-size: 20px;
  color: #000;
  width: 150px;
  text-align: center;
}

@keyframes maskot-animation {
  0% {
    top: 50%;
    left: 25%;
    opacity: 0;
  }
  100% {
    top: 50%;
    left: 50px;
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .laman-adat-kanan,
  .laman-adat-kiri {
    min-height: 200px;
    min-width: 279px;
    width: 100%;
    padding: 0px;
  }
  
  .card-adat-kiri,
  .card-adat-kanan {
    padding: 15px;
    gap: 5px;
    border-radius: 5px;
  }

  .huruf-adat {
    width: 90px;
    height: 90px;
    font-size: 75px;
  }
  
  .nama-adat {
    font-size: 12px;
    width: 90px;
  }

  @keyframes maskot-animation {
    0% {
      left: 25%;
    }
    100% {
      left: 10px;
    }
  }
}

/* @media screen and (min-width: 600px) and (max-width: 1024px) {
  
} */