.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: var(--zIndex);
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay.tutorial {
  background-color: rgba(0, 0, 0, 0.8);
}

.bubble, .bubble-tutorial {
  position: absolute;
  right: 250px;
  bottom: 235px;
  background-color: var(--accent-color-secondary-50);
  padding: 15px 20px;
  border-radius: 15px 15px 0px 15px;
  max-width: 450px;
  color: black;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

.instruction {
  position: absolute;
  left: 35px;
  bottom: 25px;
  color: white;
  font-family: "Finger Paint";
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .bubble,
  .bubble-tutorial {
    right: 130px;
    bottom: 95px;
    padding: 5px 10px;
    border-radius: 10px 10px 0px 10px;
    max-width: 55%;
    font-size: 11px;
  }

  .instruction {
    left: 35px;
    bottom: 25px;
    font-size: 8px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .bubble {
    right: 140px;
    bottom: 90px;
    padding: 10px 15px;
    border-radius: 10px 10px 0px 10px;
    max-width: 400px;
    font-size: 12px;
  }

  .bubble-tutorial {
    right: 140px;
    bottom: 90px;
    padding: 10px 15px;
    border-radius: 10px 10px 0px 10px;
    max-width: 400px;
    font-size: 12px;
  }

  .instruction {
    left: 35px;
    bottom: 25px;
    font-size: 10px;
  }
}
