.tumpeng-makanan {
  position: absolute;
  z-index: 1;
  top: 60%;
  right: 70px;
  transform: translateY(-50%);
  animation: tumpeng-makanan-animation 1s ease-in-out forwards;
}

.maskot-foodie {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  animation: maskot-animation 0.5s ease-out forwards;
}

@keyframes tumpeng-makanan-animation {
  0% {
    top: 50%;
    right: 25%;
    opacity: 0;
    z-index: 0;
  }
  60% {
    top: 55%;
    right: 10px;
    opacity: 1;
  }
  100% {
    top: 60%;
    right: 70px;
    opacity: 1;
    z-index: 1;
  }
}

@media screen and (max-width: 600px) {
  .maskot-foodie {
    width: 130px;
  }

  .tumpeng-makanan {
    width: 100px;
  }

  @keyframes tumpeng-makanan-animation {
    0% {
      top: 50%;
      right: 25%;
      opacity: 0;
      z-index: 0;
    }
    60% {
      top: 55%;
      right: -20px;
      opacity: 1;
    }
    100% {
      top: 65%;
      right: 15px;
      opacity: 1;
      z-index: 1;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  
}