.janur-adat {
  position: absolute;
  z-index: 0;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  animation: janur-adat-animation 0.5s ease-out forwards;
}

.maskot-upacara-adat {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  animation: maskot-animation 0.5s ease-out forwards;
}

@keyframes janur-adat-animation {
  0% {
    top: 50%;
    right: 25%;
    opacity: 0;
  }
  100% {
    top: 50%;
    right: 50px;
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .janur-adat {
    width: 120px;
  }

  .maskot-upacara-adat {
    width: 130px;
  }

  @keyframes janur-adat-animation {
    0% {
      top: 50%;
      right: 25%;
    }
    100% {
      top: 50%;
      right: 20px;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {

}