.janur-adat {
  position: absolute;
  z-index: 0;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

.maskot-upacara-adat {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}
