.senjata-bambu {
  position: absolute;
  z-index: 0;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  animation: senjata-bambu-animation 0.5s ease-out forwards;
}

.maskot-senjata-tradisional {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  animation: maskot-animation 0.5s ease-out forwards;
}

@keyframes senjata-bambu-animation {
  0% {
    top: 50%;
    right: 25%;
    opacity: 0;
  }
  100% {
    top: 50%;
    right: 50px;
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .senjata-bambu {
    width: 120px;
  }

  .maskot-senjata-tradisional {
    width: 145px;
  }

  @keyframes senjata-bambu-animation {
    0% {
      top: 50%;
      right: 25%;
    }
    100% {
      top: 50%;
      right: 10px;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
}
