:root {
  --header-bg-color: #0a2900;
  --header-text-color: #efb849;
  --color-other-white: #f1f5f9;
  --color-other-black: #333333;
  --color-primary-50: #9FB099;
  --color-primary-100: #879D80;
  --color-primary-700: #0F3B01;
  --color-primary-800: #0A2900;
  --accent-color-main: #fc3903;
  --accent-color-secondary: #f3ca76;
  --accent-color-secondary-50: #FBEDD1;
  --accent-color-secondary-200: #F3CA76;
  --accent-color-secondary-300: #EFB849;
  --accent-color-secondary-400: #EBA71C;
  --accent-color-secondary-500: #D39619 ;
  --accent-color-secondary-600: #A47413 ;
  --accent-color-tertiary: #879d80;
  --bubble-chat-bg-color: #fbedd1;
  --footer-bg-color: #d39619;
}

.home {
  /* display: flex; */
  height: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: screen;
  background-image: url("/src/assets/background/Home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -550px;
}

.button-explore-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeIndonesia {
  display: flex;
  flex-direction: row;
  padding: 40px;
  height: 375px;
  align-items: center;
  gap: 300px; /* Add padding between items */
  background-image: linear-gradient(to bottom, #0a2900, rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: screen;
  background-image: url("/src/assets/background/Home.jpg");
  background-size: cover;
  background-position-y: -550px;
  border-bottom: 5px solid var(--footer-bg-color);
}
.home-explore {
  height: 370px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(to bottom, #0a2900, rgba(255, 255, 255, 0));
}

.home-map {
  width: 100%;
  display: flex;
  justify-content: center;
}

.welcome-p {
  color: white;
}

.fakta {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.fakta h1:first-child {
  margin-right: auto; /* Mendorong ke pojok kiri */
}

.fakta h1:last-child {
  margin-left: auto; /* Mendorong ke pojok kanan */
}

.home-intro {
  width: 100%;
  padding: 0px 75px 75px 75px;
  color: white;
}
.home-intro h1 {
  font-family: "Finger Paint";
  font-size: 32px;
}

.home-intro p {
  font-family: "Bree Serif";
  font-size: 18px;
  line-height: 1.5;
}

.home-content {
  padding: 40px 100px 40px 100px;
  flex-direction: row;
  align-items: center;
}

.home-interesting-fact {
  border-bottom: 2px solid #333;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  justify-content: space-between;
}

.home-interesting-fact a {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-family: "Finger Paint";
  font-size: 18px;
  color: #333;
  text-decoration: none;
}

.home-interesting-fact a:hover {
  scale: 1.075;
}

.home-maskot {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}

.home-slide-fact{
  padding: 40px 100px 40px 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.home-awan{
  height: fit-content;
}