:root {
  --header-bg-color: #0a2900;
  --header-text-color: #efb849;
  --color-other-white: #f1f5f9;
  --color-other-black: #333333;
  --color-primary-50: #9fb099;
  --color-primary-100: #879d80;
  --color-primary-700: #0f3b01;
  --color-primary-800: #0a2900;
  --accent-color-main: #fc3903;
  --accent-color-secondary: #f3ca76;
  --accent-color-secondary-50: #fbedd1;
  --accent-color-secondary-200: #f3ca76;
  --accent-color-secondary-300: #efb849;
  --accent-color-secondary-400: #eba71c;
  --accent-color-secondary-500: #d39619;
  --accent-color-secondary-600: #a47413;
  --accent-color-tertiary: #879d80;
  --bubble-chat-bg-color: #fbedd1;
  --footer-bg-color: #d39619;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: screen;
  background-image: url("/src/assets/background/HomeCut.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% -105px;
}

.button-explore-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-explore {
  height: 330px;
  padding: 40px 40px 30px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(to bottom, #0a2900, rgba(255, 255, 255, 0));
}

.button-explore-section {
  padding: 40px;
}

.home-map {
  width: 100%;
  display: flex;
  justify-content: center;
}

.welcome-p {
  color: white;
}

.fakta {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.fakta h1:first-child {
  margin-right: auto; /* Mendorong ke pojok kiri */
}

.fakta h1:last-child {
  margin-left: auto; /* Mendorong ke pojok kanan */
}

.home-intro {
  width: 100%;
  padding: 0px 75px 75px 75px;
  color: white;
}
.home-intro h1 {
  font-family: "Finger Paint";
  font-size: 32px;
}

.home-intro p {
  font-family: "Bree Serif";
  font-size: 18px;
  line-height: 1.5;
}

.home-content {
  padding: 40px 100px 40px 100px;
  flex-direction: row;
  align-items: center;
}

.home-interesting-fact {
  border-bottom: 2px solid #333;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  justify-content: space-between;
}

.home-interesting-fact h1 {
  font-family: "Handlee";
  font-size: 25px;
  color: #333;
}

.home-interesting-fact a {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-family: "Finger Paint";
  font-size: 18px;
  color: #333;
  text-decoration: none;
}

.home-interesting-fact a:hover {
  scale: 1.075;
}

.home-maskot {
  height: 200px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}

.home-slide-fact {
  padding: 40px 100px 40px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-awan {
  position: relative;
  height: fit-content;
  overflow: hidden;
}

.batik-awan-kiriatas {
  position: absolute;
  z-index: -1;
  top: 100px;
  left: -90px;
  height: 168px;
  animation: moveSlightly 5s ease-in-out infinite alternate;
}

.batik-awan-kananatas {
  z-index: -1;
  position: absolute;
  top: 100px;
  right: -90px;
  height: 193px;
  transform: scaleX(-1);
  animation: moveSlightly 5s ease-in-out infinite alternate;
}
.batik-awan-kiribawah-atas {
  z-index: -1;
  position: absolute;
  bottom: -40px;
  left: -200px;
  height: 331px;
  animation: moveSlightly 5s ease-in-out infinite alternate;
}

.batik-awan-kiribawah-bawah {
  z-index: -1;
  position: absolute;
  bottom: -180px;
  left: -250px;
  height: 438px;
  animation: moveSlightly 5s ease-in-out infinite alternate;
}

.batik-awan-kananbawah-atas {
  z-index: -1;
  position: absolute;
  bottom: -40px;
  right: -200px;
  height: 331px;
  transform: scaleX(-1);
  animation: moveSlightly 5s ease-in-out infinite alternate;
}

.batik-awan-kananbawah-bawah {
  z-index: -1;
  position: absolute;
  bottom: -180px;
  right: -250px;
  height: 438px;
  transform: scaleX(-1);
  animation: moveSlightly 5s ease-in-out infinite alternate;
}

@keyframes moveSlightly {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}

.visible {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
}

@media screen and (max-width: 600px) {
  .home {
    background-position: 50% 0px;
    background-size: 200%;
    justify-items: center;
  }

  .home-explore {
    height: fit-content;
    padding: 20px 20px 0px 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .home-map img {
    height: 80px;
  }

  .home-intro {
    width: 100%;
    padding: 0px 0px 10px 0px;
  }

  .home-intro h1 {
    font-size: 14px;
    text-align: center;
  }

  .home-intro p {
    font-size: 11px;
    text-align: center;
  }

  .button-explore-section {
    padding: 20px;
  }

  .home-maskot {
    height: 130px;
  }

  .home-maskot.active,
  .home-maskot.talk-random {
    bottom: 10px;
  }

  .home-content {
    padding: 10px 20px 10px 20px;
  }

  .home-interesting-fact {
    height: 40px;
    border-bottom: 1px solid #333;
  }

  .home-interesting-fact h1 {
    font-size: 15px;
  }

  .home-interesting-fact a {
    gap: 5px;
    font-size: 10px;
  }

  .home-interesting-fact .link-path img {
    width: 5px;
  }

  .home-slide-fact {
    padding: 10px 20px 10px 20px;
  }

  .batik-awan-kiriatas {
    position: absolute;
    z-index: -1;
    top: 40px;
    left: -40px;
    height: 50px;
    animation: moveSlightly 7s ease-in-out infinite alternate;
  }
  
  .batik-awan-kananatas {
    position: absolute;
    z-index: -1;
    top: 40px;
    right: -30px;
    height: 50px;
    transform: scaleX(-1);
    animation: moveSlightly 7s ease-in-out infinite alternate;
  }
  .batik-awan-kiribawah-atas {
    position: absolute;
    z-index: -1;
    bottom: -70px;
    left: -130px;
    height: 150px;
    animation: moveSlightly 7s ease-in-out infinite alternate;
  }
  
  .batik-awan-kiribawah-bawah {
    position: absolute;
    z-index: -1;
    bottom: -30px;
    left: -100px;
    height: 100px;
    animation: moveSlightly 7s ease-in-out infinite alternate;
  }
  
  .batik-awan-kananbawah-atas {
    position: absolute;
    z-index: -1;
    bottom: -70px;
    right: -130px;
    height: 150px;
    transform: scaleX(-1);
    animation: moveSlightly 7s ease-in-out infinite alternate;
  }
  
  .batik-awan-kananbawah-bawah {
    position: absolute;
    z-index: -1;
    bottom: -30px;
    right: -100px;
    height: 100px;
    transform: scaleX(-1);
    animation: moveSlightly 7s ease-in-out infinite alternate;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .home {
    background-position: 50% -40px;
    background-size: cover;
    justify-items: center;
  }

  .home-explore {
    height: fit-content;
    padding: 30px 50px 0px 50px;
    display: flex;
    gap: 50px;
    flex-direction: row;
  }

  .home-map img {
    height: 100px;
  }

  .home-intro {
    width: 100%;
    padding: 0px 25px 25px 25px;
  }

  .home-intro h1 {
    font-size: 16px;
  }

  .home-intro p {
    font-size: 12px;
  }

  .button-explore-section {
    padding: 30px;
  }

  .home-maskot {
    height: 140px;
  }

  .home-maskot.active {
    bottom: 10px;
  }

  .home-content {
    padding: 20px 40px 20px 40px;
  }

  .home-interesting-fact {
    height: 60px;
    border-bottom: 1px solid #333;
  }

  .home-interesting-fact h1 {
    font-size: 20px;
  }

  .home-interesting-fact a {
    gap: 10px;
    font-size: 15px;
  }

  .home-interesting-fact .link-path img {
    width: 7px;
  }

  .home-slide-fact {
    padding: 25px 40px 25px 40px;
  }

  .batik-awan-kiriatas {
    position: absolute;
    z-index: -1;
    top: 70px;
    left: -60px;
    height: 70px;
    animation: moveSlightly 6s ease-in-out infinite alternate;
  }
  
  .batik-awan-kananatas {
    position: absolute;
    z-index: -1;
    top: 70px;
    right: -60px;
    height: 70px;
    transform: scaleX(-1);
    animation: moveSlightly 6s ease-in-out infinite alternate;
  }
  .batik-awan-kiribawah-atas {
    position: absolute;
    z-index: -1;
    bottom: -100px;
    left: -150px;
    height: 210px;
    animation: moveSlightly 6s ease-in-out infinite alternate;
  }
  
  .batik-awan-kiribawah-bawah {
    position: absolute;
    z-index: -1;
    bottom: -20px;
    left: -90px;
    height: 120px;
    animation: moveSlightly 6s ease-in-out infinite alternate;
  }
  
  .batik-awan-kananbawah-atas {
    position: absolute;
    z-index: -1;
    bottom: -100px;
    right: -150px;
    height: 210px;
    transform: scaleX(-1);
    animation: moveSlightly 6s ease-in-out infinite alternate;
  }
  
  .batik-awan-kananbawah-bawah {
    position: absolute;
    z-index: -1;
    bottom: -20px;
    right: -90px;
    height: 120px;
    transform: scaleX(-1);
    animation: moveSlightly 6s ease-in-out infinite alternate;
  }
}
