.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: screen;
    background-image: url('/src/assets/background/Home.jpg');
    background-size: cover;
    background-position-y: -550px;
}
.homeIndonesia {
    display: flex;
    flex-direction: row;
    padding: 40px;
    height: 370px;
    align-items: center;
    gap: 300px; /* Add padding between items */
    background-image: linear-gradient(to bottom, #0A2900, rgba(255, 255, 255, 0));
}

.homeExploration{
    display: flex;
    flex-direction: row;
    padding: 40px;
    height: 50px;
    align-items: center;
    gap: 300px; /* Add padding between items */
    background-image: linear-gradient(to bottom, #0A2900, rgba(255, 255, 255, 0));
}

.homeFakta{
    padding: 40px 100px 40px 100px;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
}

.fakta {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
  }
  
  .fakta h1:first-child {
    margin-right: auto; /* Mendorong ke pojok kiri */
  }
  
  .fakta h1:last-child {
    margin-left: auto; /* Mendorong ke pojok kanan */
  }
  
  
  

  