#exploration-container {
    padding: 0px 75px;
}

/* content-nusantara */
.card-nusantara {
    justify-content: center;
    align-items: center;
    display : flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #000000;
  }
  
  .content-nusantara .title {
    font-size: 40px;
    font-family: "Bree Serif";
  }
  
  .content-nusantara .content {
    font-size: 20px;
    font-family: "Bree Serif";
  }

  .content-nusantara a:visited p {
    text-decoration: underline;
    color: var(--header-bg-color);
    scale: 1.1;
  }
  
  .content-nusantara .link-path {
    margin-left: auto;
    margin-top: 20px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 18px;
    font-family: "Finger Paint";
  }

  /* Nusantara Atas */

.nusantara-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  display: flex;
  flex-direction: row;
}

.card-nusantara-letter {
  width: 50px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 20px;
  font-family: "Finger Paint";
  cursor: pointer;
  text-decoration: none;
}

.nusantara-container a:visited .card-nusantara-letter {
  text-decoration: underline;
  color: var(--header-bg-color);
  scale: 1.1;
}