#exploration-container {
    padding: 0px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* content-nusantara */
.card-nusantara {
    justify-content: center;
    align-items: center;
    display : flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #000000;
  }

  .content-nusantara .title {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: "Bree Serif";
  }
  
  .content-nusantara .content {
    font-size: 20px;
    font-family: "Bree Serif";
    line-height: 1.5;
  }

  .content-nusantara a:hover {
    scale: 1.075;
  }
  
  .content-nusantara .link-path {
    margin-left: auto;
    margin-top: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 18px;
    font-family: "Finger Paint";
  }

  /* Nusantara Atas */

.nusantara-container {
  width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 25px 0px 25px 10px;
  display: flex;
  flex-direction: row;
  z-index: 98;
  position: relative;
  background-color: #ffffff;
}

.card-nusantara-letter {
  width: 50px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 20px;
  font-family: "Finger Paint";
  cursor: pointer;
  text-decoration: none;
}

.card-nusantara-letter.active-green {
  background-color: var(--color-primary-700);
  color: #ffffff;
}

.card-nusantara-letter.active-yellow {
  background-color: var(--accent-color-secondary-500);
  color: #ffffff;
}