:root {
    --header-bg-color: #0a2900;
    --header-text-color: #efb849;
    --color-other-white: #f1f5f9;
    --color-other-black: #333333;
    --accent-color-main: #fc3903;
    --accent-color-secondary: #f3ca76;
    --accent-color-tertiary: #879d80;
    --bubble-chat-bg-color: #fbedd1;
    --footer-bg-color: #d39619;
  }

.footer-container {
    width: screen;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--footer-bg-color);
}

.footer-logo {
    padding: 20px;
}

.footer-container h1 {
    margin: 0px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border-top: 2px solid white;
}