:root {
    --header-bg-color: #0a2900;
    --header-text-color: #efb849;
    --color-other-white: #f1f5f9;
    --color-other-black: #333333;
    --accent-color-main: #fc3903;
    --accent-color-secondary: #f3ca76;
    --accent-color-tertiary: #879d80;
    --bubble-chat-bg-color: #fbedd1;
    --footer-bg-color: #d39619;
  }

.footer-container {
    font-family: 'Inter', sans-serif;
    padding: 40px 150px 20px 50px;
    width: screen;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--footer-bg-color);
}

.footer-logo {
    padding: 0px 20px;
    height: 50px;
}

.footer-container h1 {
    margin: 0px;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border-top: 2px solid white;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-section h3 {
    margin: 0px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-section a:hover {
    color: var(--color-primary-700);
    font-weight: 500;
    scale: 1.075;
}

.footer-section{
    display: flex;
    justify-content: space-between;
}

.footer-right{
    margin : 0 10px;
    border-top: 2px solid white;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer-middle{
    margin : 0 10px;
    border-top: 2px solid white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    white-space: nowrap;
}

.footer-middle *{
    align-self: start;
    color: white;
    text-decoration: none;
}

.footer-navigator{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .footer-container {
        font-family: 'Inter', sans-serif;
        padding: 10px;
        width: screen;
        height: fit-content;
        display: flex;
        flex-direction: column;
        background-color: var(--footer-bg-color);
    }
    
    .footer-logo {
        padding: 10px 20px;
        height: 30px;
    }
    
    .footer-container h1 {
        margin: 0px;
        padding-top: 20px;
        text-align: center;
        color: white;
        font-size: 12px;
        font-weight: 400;
        border-top: 2px solid white;
    }
    
    .footer-section {
        display: flex;
        flex-direction: column;
    }
    
    .footer-section a {
        color: white;
        text-decoration: none;
        font-size: 12px;
    }
    
    .footer-section h3 {
        margin: 0px;
        color: white;
        text-decoration: none;
        font-size: 16px;
    }
    
    .footer-section a:hover {
        color: var(--color-primary-700);
        font-weight: 500;
        scale: 1.075;
    }
    
    .footer-section{
        display: flex;
        padding: 0 0 10px;
    }
    
    .footer-right{
        margin : 10px;
        border-top: 2px solid white;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }
    .footer-left{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    .footer-middle{
        margin : 10px;
        border-top: 2px solid white;
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        white-space: nowrap;
    }
    
    .footer-middle *{
        align-self: start;
        color: white;
        text-decoration: none;
    }

    .footer-navigator-section{
        display: flex;
        flex-direction: row;
        padding: 0px;
    }
    
    .footer-navigator{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .footer-copyright{
        padding: 0 60px 0 0;
    }
    
}

@media screen and (min-width: 600px) and (max-width:1024px){

}