:root {
    --header-bg-color: #0a2900;
    --header-text-color: #efb849;
    --color-other-white: #f1f5f9;
    --color-other-black: #333333;
    --accent-color-main: #fc3903;
    --accent-color-secondary: #f3ca76;
    --accent-color-tertiary: #879d80;
    --bubble-chat-bg-color: #fbedd1;
    --footer-bg-color: #d39619;
  }

.navbar-container {
    width: screen;
    height: fit-content;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 30px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg-color);
}

.navbar-home-button:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.navbar-container button {
    all: unset;
}

.navbar-container button:hover {
    cursor: pointer;
    transform: scale(1.1);
}