.navbar-popup-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 20px;
    top: 100%;
    left: 0;
    width: 100%; /* Adjust the width as needed */
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 10px;
    z-index: 200; /* Ensure it's above the navbar */
    transform-origin: top;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
    
  }
  
  .navbar-popup-container.show-popup {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .popup-section{
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 20px;
    padding: 10px;
  }
  