.navbar-popup-container {
  display: flex;
  height: fit-content;
  flex-direction: row;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 10px 0px 20px;
  z-index: 200;
  transform-origin: top;
  opacity: 1;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
  animation: animationPopUpNavbar 0.3s ease-in-out forwards;
}

.navbar-popup-section{
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-explore-section-navbar {
  width: fit-content;
  height: fit-content;
  transform: scale(0.5);
}

.popup-section {
  display: flex;
  justify-content: center;
  gap: 100px;
  font-size: 20px;
  padding: 10px;
}

@keyframes animationPopUpNavbar {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .navbar-popup-container {
    display: flex;
    height: fit-content;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 0px 0px 10px;
    z-index: 200;
    transform-origin: top;
    opacity: 1;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
    animation: animationPopUpNavbar 0.3s ease-in-out forwards;
  }
  
  .navbar-popup-section{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .button-explore-section-navbar {
    width: fit-content;
    height: fit-content;
    justify-content: center;
    transform: scale(0.6);
    padding: 10px 0 0 0;
  }
  
  .popup-section {
    display: flex;
    gap: 50px;
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
     
    
  }
  .slider-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
  }
  
}

@media screen and (min-width: 600px) and (max-width:1024px){

}
