.navbar-popup-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 20px;
  top: 100%;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 10px 0px;
  z-index: 200;
  transform-origin: top;
  opacity: 1;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
  animation: animationPopUpNavbar 0.3s ease-in-out forwards;
}

.popup-section {
  display: flex;
  justify-content: center;
  gap: 100px;
  font-size: 20px;
  padding: 10px;
}

@keyframes animationPopUpNavbar {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
