.rumah-adat {
  position: absolute;
  z-index: 0;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  animation: rumah-adat-animation 1s ease-out forwards;
}

.maskot-rumah-adat {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  animation: maskot-animation 1s ease-out forwards;
}

@keyframes rumah-adat-animation {
  0% {
    top: 50%;
    right: 25%;
    opacity: 0;
  }
  100% {
    top: 50%;
    right: 50px;
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .rumah-adat,
  .maskot-rumah-adat {
    width: 120px;
  }

  @keyframes rumah-adat-animation {
    0% {
      top: 50%;
      right: 25%;
      opacity: 0;
    }
    100% {
      top: 50%;
      right: 20px;
      opacity: 1;
    }
  }
}

/* @media screen and (min-width: 600px) and (max-width: 1024px) {

} */