.topi-adat {
  position: absolute;
  z-index: 1;
  top: 18%;
  right: 130px;
  transform: translateY(-50%);
  animation: topi-adat-animation 1.2s ease-out forwards;
}

.pakaian-adat {
  position: absolute;
  z-index: 0;
  top: 50%;
  right: 90px;
  transform: translateY(-50%);
  animation: pakaian-adat-animation 0.5s ease-out forwards;
}

.maskot-pakaian-adat {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  animation: maskot-animation 0.5s ease-out forwards;
}

@keyframes topi-adat-animation {
  0% {
    top: 50%;
    right: 25%;
    opacity: 0;
    z-index: 0;
  }
  50% {
    top: 12%;
    right: 100px;
    opacity: 0.5;
  }
  100% {
    top: 18%;
    right: 130px;
    opacity: 1;
    z-index: 1;
  }
}

@keyframes pakaian-adat-animation {
  0% {
    top: 50%;
    right: 25%;
    opacity: 0;
  }
  100% {
    top: 50%;
    right: 90px;
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .maskot-pakaian-adat {
    width: 140px;
  }

  .topi-adat {
    width: 60px;
  }

  .pakaian-adat {
    width: 90px;
  }

  @keyframes topi-adat-animation {
  0% {
    top: 50%;
    right: 25%;
    opacity: 0;
    z-index: 0;
  }
  50% {
    top: 7%;
    right: 35px;
    opacity: 0.5;
  }
  100% {
    top: 13%;
    right: 57px;
    opacity: 1;
    z-index: 1;
  }
}
  
  @keyframes pakaian-adat-animation {
    0% {
      top: 50%;
      right: 25%;
    }
    100% {
      top: 50%;
      right: 25px;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {

}