.judul-budaya {
  display: flex;
  margin: 0px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg-color);
  color: white;
  font-family: Finger Paint;
  font-size: 22px;
  font-weight: 200;
}

.budaya-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--header-bg-color);
}
.row-navigator-budaya {
  width: 2px;
  height: 25px;
  border-radius: 50vh;
  background-color: var(--accent-color-secondary-600);
  color: white;
}

.budaya-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1f5f9;
  padding-bottom: 30px;
}

.maskot-budaya {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

@media screen and (max-width: 600px) {
  .judul-budaya {
    display: flex;
    margin: 0px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg-color);
    color: white;
    font-family: Finger Paint;
    font-size: 12px;
    font-weight: 200;
  }

  .budaya-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--header-bg-color);
  }
  .row-navigator-budaya {
    width: 2px;
    height: 20px;
    border-radius: 50vh;
    background-color: var(--accent-color-secondary-600);
    color: white;
  }

  .budaya-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f5f9;
    padding-bottom: 30px;
  }

  .maskot-budaya {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
}
