.topeng-tarian {
  position: absolute;
  z-index: 1;
  top: 25%;
  right: 105px;
  transform: translateY(-50%);
  animation: topeng-tarian-animation 1s ease-in-out forwards;
}

.kuda-lumping {
  position: absolute;
  z-index: 0;
  bottom: 8%;
  right: 60px;
  animation: kuda-lumping-animation 0.5s ease-out forwards;
}

.maskot-tarian-tradisional {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  animation: maskot-animation 0.5s ease-out forwards;
}

@keyframes topeng-tarian-animation {
  0% {
    top: 30%;
    right: 25%;
    opacity: 0;
    z-index: 0;
  }
  50% {
    top: 20%;
    right: 50px;
  }
  100% {
    top: 25%;
    right: 105px;
    opacity: 1;
    z-index: 1;
  }
}

@keyframes kuda-lumping-animation {
  0% {
    bottom: 8%;
    right: 25%;
    opacity: 0;
  }
  100% {
    bottom: 8%;
    right: 60px;
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .maskot-tarian-tradisional {
    width: 142px;
  }

  .topeng-tarian {
    width: 80px;
  }

  .kuda-lumping {
    width: 150px;
  }

  @keyframes topeng-tarian-animation {
  0% {
    top: 30%;
    right: 25%;
    opacity: 0;
    z-index: 0;
  }
  50% {
    top: 6%;
    right: 15px;
  }
  100% {
    top: 15%;
    right: 40px;
    opacity: 1;
    z-index: 1;
  }
}

  @keyframes kuda-lumping-animation {
    0% {
      bottom: 8%;
      right: 25%;
      opacity: 0;
    }
    100% {
      bottom: 0%;
      right: 5px;
      opacity: 1;
    }
  }
}

/* @media screen and (min-width: 600px) and (max-width: 1024px) {
} */
