.candi-peninggalan {
  position: absolute;
  z-index: 0;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  animation: candi-peninggalan-animation 0.5s ease-out forwards;
}

.maskot-peninggalan-sejarah {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  animation: maskot-animation 0.5s ease-out forwards;
}

@keyframes candi-peninggalan-animation {
  0% {
    top: 50%;
    right: 25%;
    opacity: 0;
  }
  100% {
    top: 50%;
    right: 50px;
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .maskot-peninggalan-sejarah {
    width: 120px;
  }

  .candi-peninggalan {
    width: 100px;
  }

  @keyframes candi-peninggalan-animation {
    0% {
      top: 50%;
      right: 25%;
    }
    100% {
      top: 50%;
      right: 25px;
    }
  }
}

/* @media screen and (min-width: 600px) and (max-width: 1024px) {

} */