:root {
  --header-bg-color: #0A2900;
  --header-text-color: #EFB849;
  --color-other-white: #F1F5F9;
  --color-other-black: #333333;
  --accent-color-main: #FC3903;
  --accent-color-secondary: #F3CA76;
  --accent-color-tertiary: #879D80;
  --bubble-chat-bg-color: #FBEDD1;
  --footer-bg-color: #D39619;

  @import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');
  font-family: 'Stardos Stencil', sans-serif;
}