@layer base {
  :root {
    --header-bg-color: #0a2900;
    --header-text-color: #efb849;
    --color-other-white: #f1f5f9;
    --color-other-black: #333333;
    --accent-color-main: #fc3903;
    --accent-color-secondary: #f3ca76;
    --accent-color-tertiary: #879d80;
    --bubble-chat-bg-color: #fbedd1;
    --footer-bg-color: #d39619;

    @import url("https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap");
    font-family: "Stardos Stencil", sans-serif;
  }
  
  body {
    margin: 0px;
    padding: 0px;
  }
}
