@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

@layer base {
  :root {
    --header-bg-color: #0a2900;
    --header-text-color: #efb849;
    --color-other-white: #f1f5f9;
    --color-other-black: #333333;
    --accent-color-main: #fc3903;
    --accent-color-secondary: #f3ca76;
    --accent-color-tertiary: #879d80;
    --bubble-chat-bg-color: #fbedd1;
    --footer-bg-color: #d39619;
  }

  body {
    margin: 0px;
    padding: 0px;
    height: screen.height;
    width: screen.width;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-primary-50);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-800);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color-secondary-500);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
