:root {
  --header-bg-color: #0a2900;
  --header-text-color: #efb849;
  --color-other-white: #f1f5f9;
  --color-other-black: #333333;
  --accent-color-main: #fc3903;
  --accent-color-secondary: #f3ca76;
  --accent-color-tertiary: #879d80;
  --bubble-chat-bg-color: #fbedd1;
  --footer-bg-color: #d39619;
}
.container {
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  border-radius: 0.5rem;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

.slide-hidden {
  display: none;
}

.prev-btn,
.next-btn {
  font-size: 100px;
  background-color: transparent;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  left: 0;
  color: var(--footer-bg-color);
}

.next-btn {
  right: 0;
  color: var(--footer-bg-color);
}

.slide-container {
  position: absolute;
  width: 600px;
  height: 400px;
  background-image: linear-gradient(to top, black, transparent 80%);
  border-radius: 0.5rem;
}

.slide-text {
  padding: 15px 20px;
  position: absolute;
  text-align: justify;
  bottom: 0px;
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-weight: regular;
}

.slide-img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media screen and (max-width: 600px) {
  .container {
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

  }
  .prev-btn,
  .next-btn {
    font-size: 40px;
    background-color: transparent;
    color: var(--footer-bg-color);
    border: none;
    padding: 0px;
    cursor: pointer;
  }
  .slide-container {
    position: absolute;
    width: 200px;
    height: 100px;
    background-image: linear-gradient(to top, black, transparent 80%);
    border-radius: 0.5rem;
  }

  .slide-text {
    padding: 10px 15px;
    position: absolute;
    text-align: justify;
    bottom: 0px;
    color: white;
    font-family: Inter;
    font-size: 10px;
    font-weight: regular;
  }

  .slide-img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
}
