:root {
  --header-bg-color: #0a2900;
  --header-text-color: #efb849;
  --color-other-white: #f1f5f9;
  --color-other-black: #333333;
  --accent-color-main: #fc3903;
  --accent-color-secondary: #f3ca76;
  --accent-color-tertiary: #879d80;
  --bubble-chat-bg-color: #fbedd1;
  --footer-bg-color: #d39619;
}
.container{
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 1rem;
}

.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeslider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
}

.slide{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: fit-content;
    height: 100%;
}

.slide-hidden{
    display:none;
}

.prev-btn,
.next-btn {
  font-size: 100px;
  background-color: transparent;
  color : black;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  left: 0;
  color:var(--footer-bg-color);
}

.next-btn {
  right: 0;
  color: var(--footer-bg-color);
}