.batik-awan {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.batik-awan-kiriatas {
  position: absolute;
  top: 100px;
  left: -90px;
  height: 168px;
  animation: moveSlightly 5s ease-in-out infinite alternate;
}

.batik-awan-kananatas {
  position: absolute;
  top: 100px;
  right: -90px;
  height: 193px;
  transform: scaleX(-1);
  animation: moveSlightly 5s ease-in-out infinite alternate;
}
.batik-awan-kiribawah-atas {
  position: absolute;
  bottom: -40px;
  left: -200px;
  height: 331px;
  animation: moveSlightly 5s ease-in-out infinite alternate;
}

.batik-awan-kiribawah-bawah {
  position: absolute;
  bottom: -180px;
  left: -250px;
  height: 438px;
  animation: moveSlightly 5s ease-in-out infinite alternate;
}

.batik-awan-kananbawah-atas {
  position: absolute;
  bottom: -40px;
  right: -200px;
  height: 331px;
  transform: scaleX(-1);
  animation: moveSlightly 5s ease-in-out infinite alternate;
}

.batik-awan-kananbawah-bawah {
  position: absolute;
  bottom: -180px;
  right: -250px;
  height: 438px;
  transform: scaleX(-1);
  animation: moveSlightly 5s ease-in-out infinite alternate;
}

@keyframes moveSlightly {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}

.visible {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
}
